apiVersion: v2
name: security-apps
description: Argo CD app-of-apps config for security applications
type: application
version: 0.76.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/security-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.0
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: |
        secrets-store-csi-driver: update upstream components
          * fix: update nodeserver publish logs
          * chore: bump version to v1.3.3 in release-1.3
          * chore: allow retries on pre-upgrade hook jobs
          * chore: bump version to v1.3.2 in release-1.3
          * chore: bump golang.org/x/net from 0.4.0 to 0.7.0
          * chore: bump golang.org/x/net from 0.4.0 to 0.7.0 in /test/e2eprovider
          * chore: use base and test image from registry.k8s.io
      links:
        - name: Changelog for 1.3.3
          url: https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v1.3.3
    - kind: changed
      description: "secrets-store-csi-driver: update charts from 1.3.1 to 1.3.3"
      links:
        - name: "fix: update nodeserver publish logs"
          url: https://github.com/kubernetes-sigs/secrets-store-csi-driver/commit/dcb2c294be3bc8b792e02b9f03e5078664db0581
