apiVersion: v2
name: security-apps
description: Argo CD app-of-apps config for security applications
type: application
version: 0.107.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/security-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        chore: update neuvector to 2.8.10
        - customize controller and manager service port and target port in chart
        - allow to update nginx.ingress.kubernetes.io/backend-protocol annotation
        - bump helm chart versions for NeuVector 5.4.8

      links:
        - name: NeuVector Chert 2.8.10 Release notes
          url: https://github.com/neuvector/neuvector-helm/releases/tag/v2.8.10
