apiVersion: v2
name: security-apps
description: Argo CD app-of-apps config for security applications
type: application
version: 0.69.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/security-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.0
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "secrets-store-csi-driver: Release 1.3.1 (chart version 1.3.1)"
      links:
        - name: Github Release
          url: https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v1.3.1
    - kind: changed
      description: "secrets-store-csi-driver: Release 1.3.0 (chart version 1.3.0)"
      links:
        - name: Github Release
          url: https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v1.3.0