apiVersion: v2
name: security-apps
description: Argo CD app-of-apps config for security applications
type: application
version: 0.105.2
home: https://github.com/adfinis/helm-charts/tree/main/charts/security-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        chore: update oauth2Proxy to 9.0.0
        - updates dependencies
        - separate image.repository into (image.registry / image.repository) and support .global.imageRegistry
        - add gateway api support
        - Add support imagePullSecrets to service account
        - adding HPA capabilities check

      links:
        - name: oauth2-proxy-9.0.0
          url: https://github.com/oauth2-proxy/manifests/releases/tag/oauth2-proxy-9.0.0
