apiVersion: v2
name: security-apps
description: Argo CD app-of-apps config for security applications
type: application
version: 0.110.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/security-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: added
      description: |
        feat: Update Kyverno and Kyverno Policies from 1.15.1 to 1.17.0
      links:
        - name: 1.17.0 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.17.0
        - name: 1.16.3 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.16.3
        - name: 1.16.2 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.16.2
        - name: 1.16.1 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.16.1
        - name: 1.16.0 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.16.0
        - name: 1.15.3 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.15.3
        - name: 1.15.2 Release notes
          url: https://github.com/kyverno/kyverno/releases/tag/v1.15.2
