# dex -- [dex](https://github.com/dexidp/dex/) ([example](./examples/dex.yaml))
# @default -- -
dex:
  # dex.enabled -- Enable dex
  enabled: false
  name: dex
  destination:
    # dex.destination.namespace -- Namespace
    namespace: "infra-dex"
  # dex.repoURL -- Repo URL
  # @default -- [repo](https://charts.helm.sh/stable/)
  repoURL: "https://charts.helm.sh/stable/"
  # dex.chart -- Chart
  chart: "dex"
  # dex.targetRevision -- [dex Helm chart](https://github.com/helm/charts/tree/master/stable/dex/) version
  targetRevision: "2.15.*"
  # dex.values -- Helm values
  # @default -- [upstream values](https://github.com/helm/charts/tree/master/stable/dex/values.yaml)
  values: {}

# gangway -- [gangway](https://github.com/heptiolabs/gangway/) ([example](./examples/gangway.yaml))
# @default -- -
gangway:
  # gangway.enabled -- Enable gangway
  enabled: false
  name: gangway
  destination:
    # gangway.destination.namespace -- Namespace
    namespace: "infra-gangway"
  # gangway.repoURL -- Repo URL
  # @default -- [repo](https://charts.helm.sh/stable/)
  repoURL: "https://charts.helm.sh/stable/"
  # gangway.chart -- Chart
  chart: "gangway"
  # gangway.targetRevision -- [gangway Helm chart](https://github.com/helm/charts/tree/master/stable/gangway/) version
  targetRevision: "0.4.*"
  # gangway.values -- Helm values
  # @default -- [upstream values](https://github.com/helm/charts/tree/master/stable/gangway/values.yaml)
  values: {}

# vault -- [vault](https://github.com/hashicorp/vault/) ([example](./examples/vault.yaml))
# @default -- -
vault:
  # vault.enabled -- Enable vault
  enabled: false
  name: vault
  destination:
    # vault.destination.namespace -- Namespace
    namespace: "infra-vault"
  # vault.repoURL -- Repo URL
  # @default -- [repo](https://helm.releases.hashicorp.com/)
  repoURL: "https://helm.releases.hashicorp.com/"
  # vault.chart -- Chart
  chart: "vault"
  # vault.targetRevision -- [vault Helm chart](https://github.com/hashicorp/vault-helm) version
  targetRevision: "0.9.*"
  # vault.values -- Helm values
  # @default -- [upstream values](https://github.com/hashicorp/vault-helm/tree/master/values.yaml)
  values: {}

# falco -- [falco](https://github.com/falcosecurity/falco/) ([example](./examples/falco.yaml))
# @default -- -
falco:
  # falco.enabled -- Enable falco
  enabled: false
  name: falco
  destination:
    # falco.destination.namespace -- Namespace
    namespace: "infra-falco"
  # falco.repoURL -- Repo URL
  # @default -- [repo](https://falcosecurity.github.io/charts)
  repoURL: "https://falcosecurity.github.io/charts"
  # falco.chart -- Chart
  chart: "falco"
  # falco.targetRevision -- [falco Helm chart](https://github.com/falcosecurity/charts/tree/master/falco) version
  targetRevision: "1.7.*"
  # falco.values -- Helm values
  # @default -- [upstream values](https://github.com/falcosecurity/charts/blob/master/falco/values.yaml)
  values: {}

# falcosidekick -- [falcosidekick](https://github.com/falcosecurity/falcosidekick/) ([example](./examples/falcosidekick.yaml))
# @default -- -
falcosidekick:
  # falcosidekick.enabled -- Enable falcosidekick
  enabled: false
  name: falcosidekick
  destination:
    # falcosidekick.destination.namespace -- Namespace
    namespace: "infra-falco"
  # falcosidekick.repoURL -- Repo URL
  # @default -- [repo](https://falcosecurity.github.io/charts)
  repoURL: "https://falcosecurity.github.io/charts"
  # falcosidekick.chart -- Chart
  chart: "falcosidekick"
  # falcosidekick.targetRevision -- [falcosidekick Helm chart](https://github.com/falcosecurity/charts/tree/master/falcosidekick) version
  targetRevision: "0.2.*"
  # falcosidekick.values -- Helm values
  # @default -- [upstream values](https://github.com/falcosecurity/charts/blob/master/falcosidekick/values.yaml)
  values: {}

# falcoExporter -- [falco-exporter](https://github.com/falcosecurity/falco-exporter/) ([example](./examples/falco-exporter.yaml))
# @default -- -
falcoExporter:
  # falcoExporter.enabled -- Enable falco-exporter
  enabled: false
  name: falco-exporter
  destination:
    # falcoExporter.destination.namespace -- Namespace
    namespace: "infra-falco"
  # falcoExporter.repoURL -- Repo URL
  # @default -- [repo](https://falcosecurity.github.io/charts)
  repoURL: "https://falcosecurity.github.io/charts"
  # falcoExporter.chart -- Chart
  chart: "falco-exporter"
  # falcoExporter.targetRevision -- [falco Helm chart](https://github.com/falcosecurity/charts/tree/master/falco-exporter) version
  targetRevision: "0.5.*"
  # falcoExporter.values -- Helm values
  # @default -- [upstream values](https://github.com/falcosecurity/charts/blob/master/falco-exporter/values.yaml)
  values: {}

# gatekeeper -- [gatekeeper](https://github.com/open-policy-agent/gatekeeper) ([example](./examples/gatekeeper.yaml))
# @default -- -
gatekeeper:
  # gatekeeper.enabled -- Enable gatekeeper
  enabled: false
  name: gatekeeper
  destination:
    # gatekeeper.destination.namespace -- Namespace
    namespace: "infra-gatekeeper"
  # gatekeeper.repoURL -- Repo URL
  # @default -- [repo](https://open-policy-agent.github.io/gatekeeper/charts)
  repoURL: "https://open-policy-agent.github.io/gatekeeper/charts"
  # gatekeeper.chart -- Chart
  chart: "gatekeeper"
  # gatekeeper.targetRevision -- [gatekeeper Helm chart](https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper) version
  targetRevision: "3.2.2"
  # gatekeeper.values -- Helm values
  # @default -- [upstream values](https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/values.yaml)
  values: {}

# vaultAuth -- [vault-auth](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-auth) ([example](./examples/vault-auth.yaml))
# @default -- -
vaultAuth:
  # vaultAuth.enabled -- Enable vault-auth
  enabled: false
  name: vault-auth
  destination:
    # vaultAuth.destination.namespace -- Namespace
    namespace: "infra-vault"
  # vaultAuth.repoURL -- Repo URL
  # @default -- [repo](https://charts.adfinis.com/)
  repoURL: "https://charts.adfinis.com/"
  # vaultAuth.chart -- Chart
  chart: "vault-auth"
  # vaultAuth.targetRevision -- [vault-auth Helm chart](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-auth) version
  targetRevision: "0.1.*"
  # vaultAuth.values -- Helm values
  # @default -- [upstream values](https://github.com/adfinis-sygroup/helm-charts/blob/master/charts/vault-auth/values.yaml)
  values: {}

# vaultCsiProvider -- [vault-csi-provider](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-csi-provider) ([example](./examples/vault-csi-provider.yaml))
# @default -- -
vaultCsiProvider:
  # vaultCsiProvider.enabled -- Enable vault-csi-provider
  enabled: false
  name: vault-csi-provider
  destination:
    # vaultCsiProvider.destination.namespace -- Namespace
    namespace: "infra-vault"
  # vaultCsiProvider.repoURL -- Repo URL
  # @default -- [repo](https://charts.adfinis.com/)
  repoURL: "https://charts.adfinis.com/"
  # vaultCsiProvider.chart -- Chart
  chart: "vault-csi-provider"
  # vaultCsiProvider.targetRevision -- [vault-csi-provider Helm chart](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-csi-provider) version
  targetRevision: "0.2.*"
  # vaultCsiProvider.values -- Helm values
  # @default -- [upstream values](https://github.com/adfinis-sygroup/helm-charts/blob/master/charts/vault-csi-provider/values.yaml)
  values: {}

# vaultMonitoring -- [vault-monitoring](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-monitoring) ([example](./examples/vault-monitoring.yaml))
# @default -- -
vaultMonitoring:
  # vaultMonitoring.enabled -- Enable vault-monitoring
  enabled: false
  name: vault-monitoring
  destination:
    # vaultMonitoring.destination.namespace -- Namespace
    namespace: "infra-vault"
  # vaultMonitoring.repoURL -- Repo URL
  # @default -- [repo](https://charts.adfinis.com/)
  repoURL: "https://charts.adfinis.com/"
  # vaultMonitoring.chart -- Chart
  chart: "vault-monitoring"
  # vaultMonitoring.targetRevision -- [vault-monitoring Helm chart](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-monitoring) version
  targetRevision: "0.1.*"
  # vaultMonitoring.values -- Helm values
  # @default -- [upstream values](https://github.com/adfinis-sygroup/helm-charts/blob/master/charts/vault-monitoring/values.yaml)
  values: {}

# secretsStoreCsiDriver -- [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver) ([examplpe](./examples/secrets-store-csi-driver.yaml))
# @default -- -
secretsStoreCsiDriver:
  # secretsStoreCsiDriver.enabled -- Enable secrets-store-csi-driver
  enabled: false
  name: secrets-store-csi-driver
  destination:
    # secretsStoreCsiDriver.destination.namespace -- Namespace
    namespace: "infra-secrets-store-csi"
  # secretsStoreCsiDriver.repoURL -- Repo URL
  # @default -- [repo](https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts)
  repoURL: "https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts"
  # secretsStoreCsiDriver.chart -- Chart
  chart: "secrets-store-csi-driver"
    # secretsStoreCsiDriver.targetRevision -- [vault-csi-provider Helm chart](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/secrets-store-csi-driver) version
  targetRevision: "0.0.*"
  # secretsStoreCsiDriver.values -- Helm values
  # @default -- [upstream values](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/secrets-store-csi-driver/values.yaml)
  values: {}
