# dex -- [dex](https://github.com/dexidp/dex/) ([example](./examples/dex.yaml))
# @default -- -
dex:
  # dex.enabled -- Enable dex
  enabled: false
  name: dex
  destination:
    # dex.destination.namespace -- Namespace
    namespace: "infra-dex"
  # dex.repoURL -- Repo URL
  # @default -- [repo](https://charts.dexidp.io)
  repoURL: "https://charts.dexidp.io"
  # dex.chart -- Chart
  chart: "dex"
  # dex.targetRevision -- [dex Helm chart](https://github.com/dexidp/helm-charts/tree/master/charts/dex/) version
  targetRevision: "0.6.*"
  # dex.values -- Helm values
  # @default -- [upstream values](https://github.com/dexidp/helm-charts/tree/master/charts/dex/values.yaml)
  values: {}

# dexK8sAuthenticator -- [dex-k8s-authenticator](https://github.com/mintel/dex-k8s-authenticator) ([example](./examples/dex-k8s-authenticator.yaml))
# @default -- -
dexK8sAuthenticator:
  # dexK8sAuthenticator.enabled -- Enable dex-k8s-authenticator
  enabled: false
  name: dex-k8s-authenticator
  destination:
    # dexK8sAuthenticator.destination.namespace -- Namespace
    namespace: "infra-dex-k8s-authenticator"
  # dexK8sAuthenticator.repoURL -- Repo URL
  # @default -- [repo](https://github.com/mintel/dex-k8s-authenticator.git)
  repoURL: "https://github.com/mintel/dex-k8s-authenticator.git"
  # dexK8sAuthenticator.repoPath -- Repo Path
  repoPath: "charts/dex-k8s-authenticator"
  # dexK8sAuthenticator.chart -- Chart
  chart: "dexK8sAuthenticator"
  # dexK8sAuthenticator.targetRevision -- [dex-k8s-authenticator Helm chart](https://github.com/mintel/dex-k8s-authenticator/tree/master/charts/dex-k8s-authenticator/) version
  targetRevision: "v1.4.0"
  # dexK8sAuthenticator.values -- Helm values
  # @default -- [upstream values](https://github.com/mintel/dex-k8s-authenticator/tree/master/charts/dex-k8s-authenticator/values.yaml)
  values: {}

# gangway -- [gangway](https://github.com/heptiolabs/gangway/) is DEPRECATED, use dexK8sAuthenticator instead
# @default -- DEPRECATED
gangway:
  # gangway.enabled -- Enable gangway
  enabled: false
  name: gangway
  destination:
    # gangway.destination.namespace -- Namespace
    namespace: "infra-gangway"
  # gangway.repoURL -- Repo URL
  # @default -- [repo](https://gabibbo97.github.io/charts)
  repoURL: "https://gabibbo97.github.io/charts"
  # gangway.chart -- Chart
  chart: "gangway"
  # gangway.targetRevision -- [gangway Helm chart](https://github.com/gabibbo97/charts/tree/master/charts/gangway/) version
  targetRevision: "1.1.*"
  # gangway.values -- Helm values
  # @default -- [upstream values](https://github.com/gabibbo97/charts/tree/master/charts/gangway/values.yaml)
  values: {}

# vault -- [vault](https://github.com/hashicorp/vault/) ([example](./examples/vault.yaml))
# @default -- -
vault:
  # vault.enabled -- Enable vault
  enabled: false
  name: vault
  destination:
    # vault.destination.namespace -- Namespace
    namespace: "infra-vault"
  # vault.repoURL -- Repo URL
  # @default -- [repo](https://helm.releases.hashicorp.com)
  repoURL: "https://helm.releases.hashicorp.com"
  # vault.chart -- Chart
  chart: "vault"
  # vault.targetRevision -- [vault Helm chart](https://github.com/hashicorp/vault-helm) version
  targetRevision: "0.17.*"
  # vault.values -- Helm values
  # @default -- [upstream values](https://github.com/hashicorp/vault-helm/tree/master/values.yaml)
  values: {}

# falco -- [falco](https://github.com/falcosecurity/falco/) ([example](./examples/falco.yaml))
# @default -- -
falco:
  # falco.enabled -- Enable falco
  enabled: false
  name: falco
  destination:
    # falco.destination.namespace -- Namespace
    namespace: "infra-falco"
  # falco.repoURL -- Repo URL
  # @default -- [repo](https://falcosecurity.github.io/charts)
  repoURL: "https://falcosecurity.github.io/charts"
  # falco.chart -- Chart
  chart: "falco"
  # falco.targetRevision -- [falco Helm chart](https://github.com/falcosecurity/charts/tree/master/falco) version
  targetRevision: "1.16.*"
  # falco.values -- Helm values
  # @default -- [upstream values](https://github.com/falcosecurity/charts/blob/master/falco/values.yaml)
  values: {}

# falcoExporter -- [falco-exporter](https://github.com/falcosecurity/falco-exporter/) ([example](./examples/falco-exporter.yaml))
# @default -- -
falcoExporter:
  # falcoExporter.enabled -- Enable falco-exporter
  enabled: false
  name: falco-exporter
  destination:
    # falcoExporter.destination.namespace -- Namespace
    namespace: "infra-falco"
  # falcoExporter.repoURL -- Repo URL
  # @default -- [repo](https://falcosecurity.github.io/charts)
  repoURL: "https://falcosecurity.github.io/charts"
  # falcoExporter.chart -- Chart
  chart: "falco-exporter"
  # falcoExporter.targetRevision -- [falco Helm chart](https://github.com/falcosecurity/charts/tree/master/falco-exporter) version
  targetRevision: "0.5.*"
  # falcoExporter.values -- Helm values
  # @default -- [upstream values](https://github.com/falcosecurity/charts/blob/master/falco-exporter/values.yaml)
  values: {}

# gatekeeper -- [gatekeeper](https://github.com/open-policy-agent/gatekeeper) ([example](./examples/gatekeeper.yaml))
# @default -- -
gatekeeper:
  # gatekeeper.enabled -- Enable gatekeeper
  enabled: false
  name: gatekeeper
  destination:
    # gatekeeper.destination.namespace -- Namespace
    namespace: "infra-gatekeeper"
  # gatekeeper.repoURL -- Repo URL
  # @default -- [repo](https://open-policy-agent.github.io/gatekeeper/charts)
  repoURL: "https://open-policy-agent.github.io/gatekeeper/charts"
  # gatekeeper.chart -- Chart
  chart: "gatekeeper"
  # gatekeeper.targetRevision -- [gatekeeper Helm chart](https://github.com/open-policy-agent/gatekeeper/tree/master/charts/gatekeeper) version
  targetRevision: "3.7.*"
  # gatekeeper.values -- Helm values
  # @default -- [upstream values](https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/values.yaml)
  values: {}

# vaultMonitoring -- [vault-monitoring](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-monitoring) ([example](./examples/vault-monitoring.yaml))
# @default -- -
vaultMonitoring:
  # vaultMonitoring.enabled -- Enable vault-monitoring
  enabled: false
  name: vault-monitoring
  destination:
    # vaultMonitoring.destination.namespace -- Namespace
    namespace: "infra-vault"
  # vaultMonitoring.repoURL -- Repo URL
  # @default -- [repo](https://charts.adfinis.com)
  repoURL: "https://charts.adfinis.com"
  # vaultMonitoring.chart -- Chart
  chart: "vault-monitoring"
  # vaultMonitoring.targetRevision -- [vault-monitoring Helm chart](https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/vault-monitoring) version
  targetRevision: "0.1.*"
  # vaultMonitoring.values -- Helm values
  # @default -- [upstream values](https://github.com/adfinis-sygroup/helm-charts/blob/master/charts/vault-monitoring/values.yaml)
  values: {}

# secretsStoreCsiDriver -- [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver) ([examplpe](./examples/secrets-store-csi-driver.yaml))
# @default -- -
secretsStoreCsiDriver:
  # secretsStoreCsiDriver.enabled -- Enable secrets-store-csi-driver
  enabled: false
  name: secrets-store-csi-driver
  destination:
    # secretsStoreCsiDriver.destination.namespace -- Namespace
    namespace: "infra-secrets-store-csi"
  # secretsStoreCsiDriver.repoURL -- Repo URL
  # @default -- [repo](https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts)
  repoURL: "https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts"
  # secretsStoreCsiDriver.chart -- Chart
  chart: "secrets-store-csi-driver"
    # secretsStoreCsiDriver.targetRevision -- [vault-csi-provider Helm chart](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/charts/secrets-store-csi-driver) version
  targetRevision: "1.0.*"
  # secretsStoreCsiDriver.values -- Helm values
  # @default -- [upstream values](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/charts/secrets-store-csi-driver/values.yaml)
  values: {}
