image:
  # -- Container image to deploy
  repository: ubcctlt/barman
  # -- When to pull the container image
  pullPolicy: Always
  # -- Overrides the image tag whose default is the chart version.
  tag: ""

# -- Resource limits and requests
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 256Mi

deployment:
  strategy:
    # -- Specify the strategy used to replace old Pods by new ones
    type: RollingUpdate
  # -- Specify additional VolumeMounts for the barman container
  additionalVolumeMounts: []
  # -- Specify additional Volumes for the deployment
  additionalVolumes: []
  # -- Specify deployment annotations
  annotations: {}
  # -- Specify pod annotations
  podAnnotations: {}
  # -- Specify sidecars for the deployment
  extraContainers: {}
  # -- Specify imagePullSecrets for the deployment
  imagePullSecrets: []
  # -- Specify additional envs
  additionalENVs: {}
    # TZ: "Asia/Tehran"

service:
  # -- Specify if a Service should be created
  create: false
  # -- Type of service
  type: ClusterIP
  # -- Service annotations
  annotations: {}
  ports:
      # -- specify targetPort
    - targetPort: http
      # -- specify port protocol
      protocol: TCP
      # -- specify port Name
      name: http
      # -- specify port
      port: 80
  # -- Only for type ClusterIP
  clusterIP: ~
  # -- Only for type LoadBalancer
  loadBalancerIP: ~

persistence:
  data:
    # -- Enable persistent storage for backup data
    enabled: true
    # -- Access mode for persistent storage
    accessMode: ReadWriteOnce
    # -- Size of storage volume
    size: 20Gi
    # -- Storage class
    storageClass: ""
    # -- Add annotations to backup data PVC
    annotations: {}
  recover:
    # -- Enable persistent storage for recovery
    enabled: false
    # -- Access mode for persistent storage
    accessMode: ReadWriteOnce
    # -- Size of storage volume
    size: 4Gi
    # -- Storage class
    storageClass: ""
    # -- Add annotations to recovery PVC
    annotations: {}

rbac:
  # -- Whether to create RBAC or not
  create: false

secret:
  # -- Whether to create and manage the barman-pgpass-secret
  create: true

barman:
  # -- Barman backup method
  backupMethod: postgres
  # -- Barman backup options
  backupOptions: concurrent_backup
  # -- Barman home directory
  backupDir: /var/lib/barman
  # -- Barman user
  barmanUser: barman
  # -- Barman backup compression
  compression: gzip
  # -- Barman retention policy
  retentionPolicy: "RECOVERY WINDOW of 1 MONTH"
  # -- Barman last backup maximum age
  lastBackupMaximumAge: "1 day"
  # -- Barman backup schedule
  backupSchedule: "0 4 * * *"
  # -- Database slot name to be created/used
  databaseSlotName: barman
  # -- Create Database slot
  createDatabaseSlot: true
  # -- postBackupRetryScript
  postBackupRetryScript: 
  ## example: tar -zcvf data.tar.gz -C /var/lib/barman/pg/base/$BARMAN_BACKUP_ID/data . --remove-files
  #    preRecoveryRetryScript
  preRecoveryRetryScript:
  ## example: mkdir /var/lib/barman/pg/base/$BARMAN_BACKUP_ID/data; tar -xvzf data.tar.gz -C /var/lib/barman/pg/base/$BARMAN_BACKUP_ID/data; rm data.tar.gz

  backups:
      # -- Barman retention policy
    - retentionPolicy: "RECOVERY WINDOW of 1 MONTH"
      # -- name of scope
      scopeName: "pg"
      # -- Barman backup method
      backupMethod: postgres
      # -- Database slot name to be created/used
      databaseSlotName: barman
      # -- Create Database slot
      createDatabaseSlot: true
      # -- Barman last backup maximum age
      lastBackupMaximumAge: "1 day"
      # -- Barman additional Parameters for configuration File
      additionalConfiguration: ""
      postgresql:
        # -- Postgresql host
        host: postgresql
        # -- Postgresql port
        port: 5432
        # -- Postgresql super user
        superUser: postgres
        # -- Postgresql super user password
        superUserPassword: postgres
        # -- Postgresql super user database
        superUserDatabase: postgres
        # -- Postgresql replication user
        replicationUser: barman
        # -- Postgresql replication password
        replicationPassword: barman
      # -- namespace where postgresql is deployed, not active when barman.createRbac is false
      namespace: postgresql
      # -- service account of the postgresql deployment, not active when barman.createRbac is false
      serviceaccount: postgresql


prometheus:
  # -- Enable Prometheus integration
  enabled: true
  service:
    # -- Prometheus exporter service name
    name: barman-exporter
    # -- Prometheus exporter service internal port
    internalPort: 9780
    # -- Prometheus exporter service external port
    externalPort: 9780
    # -- Prometheus exporter service type
    type: ClusterIP
  serviceMonitor:
    # -- Labels to add to service monitor
    extraLabels: {}
    # -- Interval at which metrics should be scraped
    interval: "30s"
    # -- MetricRelabelConfigs to apply to samples before ingestion
    metricRelabelings: []
    # -- RelabelConfigs to apply to samples before scraping
    relabelings: []
  rules:
    # -- Enable Alertmanager rules
    enabled: false
    # -- Selector labels for Alertmanager rules
    selector: []
    # -- Additional labels for Alertmanager rules
    additionalLabels: []
    # -- Array of Alertmanager rules
    spec: []
