{{- if .Values.postgresql.tls.enabled }}
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: {{ .Values.postgresql.tls.certificate.name }}
spec:
  secretName: {{ .Values.postgresql.tls.certificatesSecret }}
{{- if .Values.postgresql.tls.certificate.dnsNames }}
  dnsNames:
    {{ toYaml .Values.postgresql.tls.certificate.dnsNames | nindent 4 }}
{{- end }}
{{- if .Values.postgresql.tls.certificate.issuerRef }}
  issuerRef:
{{ toYaml .Values.postgresql.tls.certificate.issuerRef | indent 4 }}
{{- end }}
{{- end }}
