apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "timed.fullname" . }}-backend
  labels:
    {{- include "timed.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
data:
  EMAIL_URL: {{ .Values.backend.settings.emailUrl | quote }}
  DJANGO_CORS_ALLOWED_ORIGINS: {{ join "," .Values.backend.settings.corsAllowedOrigins | quote }}
  DJANGO_HOST_DOMAIN: {{ mustFirst .Values.ingress.hosts | default "localhost" | quote }}
  DJANGO_HOST_PROTOCOL: http{{- if .Values.ingress.tls }}s{{- end }}
  DJANGO_DEFAULT_FROM_EMAIL: {{ .Values.backend.settings.emailFrom | quote }}
  DJANGO_SERVER_EMAIL: {{ .Values.backend.settings.serverEmail | quote }}
  DJANGO_EMAIL_USE_TLS: {{ .Values.backend.settings.emailUseTls | quote }}
  DJANGO_DATABASE_NAME: {{ .Values.postgresql.postgresqlDatabase | quote }}
  DJANGO_DATABASE_USER: {{ .Values.postgresql.postgresqlUsername | quote }}
  DJANGO_DATABASE_PORT: {{ .Values.postgresql.service.port | quote }}
  DJANGO_WORK_REPORT_PATH: {{ .Values.backend.settings.workReportPath | quote }}
  DJANGO_DATA_UPLOAD_MAX_NUMBER_FIELDS: {{ .Values.backend.settings.maxNumberFields | quote }}
  DJANGO_CUSTOMER_CENTER_EMAIL: {{ .Values.backend.settings.customerCenterEmail | quote }}
  DJANGO_OIDC_DEFAULT_BASE_URL: {{ .Values.auth.oidc.url | quote }}
{{- if .Values.auth.oidc.endPoints.auth }}
  DJANGO_OIDC_OP_AUTHORIZATION_ENDPOINT: {{ .Values.auth.oidc.endPoints.auth | quote }}
{{- end }}
{{- if .Values.auth.oidc.endPoints.token }}
  DJANGO_OIDC_OP_TOKEN_ENDPOINT: {{ .Values.auth.oidc.endPoints.token | quote }}
{{- end }}
{{- if .Values.auth.oidc.endPoints.userInfo }}
  DJANGO_OIDC_OP_USER_ENDPOINT: {{ .Values.auth.oidc.endPoints.userInfo | quote }}
{{- end }}
{{- if .Values.auth.oidc.endPoints.jwks }}
  DJANGO_OIDC_OP_JWKS_ENDPOINT: {{ .Values.auth.oidc.endPoints.jwks | quote }}
{{- end }}

  DJANGO_OIDC_RP_CLIENT_ID: {{ .Values.auth.oidc.client.id | quote }}
  DJANGO_OIDC_RP_SIGN_ALGO: {{ .Values.auth.oidc.signAlgorithm | quote }}
  DJANGO_OIDC_VERIFY_SSL: {{ .Values.auth.oidc.verifySSL | quote }}
  DJANGO_OIDC_CREATE_USER: {{ .Values.auth.oidc.createUser | quote }}
  DJANGO_OIDC_USERNAME_CLAIM: {{ .Values.auth.oidc.claims.username | quote }}
  DJANGO_OIDC_EMAIL_CLAIM: {{ .Values.auth.oidc.claims.email | quote }}
  DJANGO_OIDC_FIRSTNAME_CLAIM: {{ .Values.auth.oidc.claims.firstname | quote }}
  DJANGO_OIDC_LASTNAME_CLAIM: {{ .Values.auth.oidc.claims.lastname | quote }}
  DJANGO_ALLOW_LOCAL_LOGIN: {{ .Values.auth.allowLocalLogin | quote }}
{{- if .Values.auth.oidc.introspect.enabled }}
  DJANGO_OIDC_CHECK_INTROSPECT: "True"
{{- if .Values.auth.oidc.introspect.endpoint }}
  DJANGO_OIDC_OP_INTROSPECT_ENDPOINT: {{ .Values.auth.oidc.introspect.endpoint | quote }}
{{- end }}
  DJANGO_OIDC_RP_INTROSPECT_CLIENT_ID: {{ .Values.auth.oidc.introspect.client.id | quote }}
{{- else }}
  DJANGO_OIDC_CHECK_INTROSPECT: "False"
{{- end }}
  DJANGO_OIDC_ADMIN_LOGIN_REDIRECT_URL: {{ .Values.auth.oidc.adminLoginRedirectUrl | quote }}

{{- if and .Values.postgresql.enabled .Values.backend.postgresql.postgresqlExistingHost }}
{{ fail "postgresql.enabled and backend.postgresql.postgresqlExistingHost are mutually exclusive, please pick one" }}
{{- end }}

{{- if .Values.postgresql.enabled }}
  DJANGO_DATABASE_HOST: {{ include "timed.postgresql.fullname" . | quote }}
  DJANGO_DATABASE_USER: {{ .Values.postgresql.postgresqlUsername | quote }}
  DJANGO_DATABASE_NAME: {{ .Values.postgresql.postgresqlDatabase | quote }}
{{- else if .Values.backend.postgresql.postgresqlExistingHost}}
  DJANGO_DATABASE_HOST: {{ .Values.backend.postgresql.postgresqlExistingHost | quote }}
  DJANGO_DATABASE_USER: {{ .Values.backend.postgresql.postgresqlUsername | quote }}
  DJANGO_DATABASE_NAME: {{ .Values.backend.postgresql.postgresqlDatabase | quote }}
  DJANGO_DATABASE_PORT: {{ .Values.backend.postgresql.postgresqlPort | quote }}
{{- end }}

{{- if .Values.redmine.enabled }}
  DJANGO_REDMINE_URL: {{ .Values.redmine.url | quote }}
  DJANGO_REDMINE_HTACCESS_USER: {{ .Values.redmine.htaccessUser | quote }}
  DJANGO_REDMINE_SPENTHOURS_FIELD: {{ .Values.redmine.spenthoursField | quote }}
{{- end }}
  GUNICORN_WORKERS: {{ .Values.backend.settings.gunicorn.workers | quote }}
  GUNICORN_CMD_ARGS: {{ .Values.backend.settings.gunicorn.cmdArgs | quote }}
{{- if .Values.backend.settings.admins }}
  DJANGO_ADMINS: {{ join "," .Values.backend.settings.admins | quote }}
{{- end }}
{{- if .Values.backend.settings.sentry.enabled }}
  DJANGO_SENTRY_TRACES_SAMPLE_RATE: {{ .Values.backend.settings.sentry.tracesSampleRate | quote }}
  DJANGO_SENTRY_SEND_DEFAULT_PII: {{ .Values.backend.settings.sentry.sendDefaultPii | quote }}
{{- end }}
