{{- $ingressHosts := .Values.ingress.hosts }}
{{- range $key, $val := .Values.backend.cronjobs }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "timed.fullname" $ }}-{{ $key | lower }}
  labels:
    {{- include "timed.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $key | lower | quote }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  schedule: {{ $val.schedule | quote }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: {{ $.Chart.Name }}-redmine-report
              image: "{{ $.Values.backend.image.repository }}:{{ default $.Chart.AppVersion $.Values.backend.image.tag }}"
              imagePullPolicy: {{ $.Values.backend.image.pullPolicy }}
              env:
                - name: DJANGO_DATABASE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "timed.postgresql.fullname" $ }}
                      key: postgresql-password
                - name: THIS_POD_IP
                  valueFrom:
                    fieldRef:
                      fieldPath: status.podIP
                - name: DJANGO_ALLOWED_HOSTS
                  value: '{{ join "," $ingressHosts | default "localhost" }},$(THIS_POD_IP)'
              envFrom:
                - secretRef:
                    name: {{ include "timed.fullname" $ }}-backend
                - configMapRef:
                    name: {{ include "timed.fullname" $ }}-backend
              command: {{ $val.command | toYaml | nindent 16 }}
{{- end }}
