apiVersion: v1
kind: Secret
metadata:
  name: {{ include "timed.fullname" . }}-backend
  labels:
    {{- include "timed.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
type: Opaque
data:
  {{ if .Values.backend.service.secret }}
  DJANGO_SECRET_KEY: {{ .Values.backend.service.secret | b64enc | quote }}
  {{ else }}
  DJANGO_SECRET_KEY: {{ randAlphaNum 32 | b64enc | quote }}
  {{ end }}
  {{ if .Values.redmine.enabled }}
  DJANGO_REDMINE_APIKEY: {{ .Values.redmine.apiKey | b64enc | quote }}
  DJANGO_REDMINE_HTACCESS_PASSWORD: {{ .Values.redmine.htaccessPassword | b64enc | quote }}
  {{ end }}
  {{ if .Values.auth.oidc.introspect.enabled }}
  DJANGO_OIDC_RP_INTROSPECT_CLIENT_SECRET: {{ .Values.auth.oidc.introspect.client.secret | b64enc | quote }}
  {{ end }}
  {{ if .Values.backend.settings.sentry.enabled }}
  DJANGO_SENTRY_DSN: {{ .Values.backend.settings.sentry.dsn | quote }}
  {{ end }}
