{{ if .Values.back8sup.enabled }}
{{ template "argoconfig.application" (list . "backup-apps.back8sup") }}
{{ end }}

{{- define "backup-apps.back8sup" -}}{{- $app := unset .Values.back8sup "enabled" -}}{{- $name := default $app.namespace $app.name -}}
metadata:
  name: {{ template "common.fullname" . }}-{{ $name }}
spec:
  {{- if $app.project }}
  project: {{ $app.project | quote }}
  {{- end }}
  source:
    repoURL: {{ $app.repoURL | quote }}
    chart: {{ $app.chart | quote }}
    targetRevision: {{ $app.targetRevision | quote }}
    helm:
      releaseName: {{ $name | quote }}
      valuesObject:
        nameOverride: {{ $name | quote }}
        {{- $app.values | toYaml | nindent 8 }}
  {{- if $app.destination }}
  destination:
    {{ $app.destination | toYaml | nindent 4 }}
  {{- end }}
  {{- if $app.syncPolicy }}
  syncPolicy:
    {{ $app.syncPolicy | toYaml | nindent 4 }}
  {{- end }}
  {{- if $app.ignoreDifferences }}
  ignoreDifferences:
    {{ $app.ignoreDifferences | toYaml | nindent 4 }}
  {{- end }}
{{- end -}}
