# All helm chart related stuff should belong to the helm charts team
* @adfinis/helm-charts

# Add specific owners to specific charts where ownership extends above group
/charts/argoconfig                  @adfinis/helm-charts @hairmare
/charts/back8sup                    @adfinis/helm-charts @eyenx @tongpu
/charts/caasperli                   @adfinis/helm-charts @hairmare
/charts/cert-manager-issuers        @adfinis/helm-charts @hairmare
/charts/common                      @adfinis/helm-charts @hairmare
/charts/csi-secret-provider-class   @adfinis/helm-charts @hairmare @eyenx
/charts/customer-center             @adfinis/helm-charts @vmaillot
/charts/osschallenge                @adfinis/helm-charts @trowik
/charts/vault-auth                  @adfinis/helm-charts @eyenx
/charts/vault-csi-provider          @adfinis/helm-charts @pree @eyenx
/charts/vault-monitoring            @adfinis/helm-charts @pree @eyenx
/charts/mopsos                      @adfinis/helm-charts @hairmare @eyenx
