{{- if and .Values.prometheus.enabled .Values.prometheus.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ template "caasperli.fullname" . }}
  labels:
    {{- include "caasperli.labels" . | nindent 4 }}
    {{- if .Values.prometheus.extraLabels }}
    {{- .Values.prometheus.extraLabels | toYaml | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "caasperli.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: http
      {{- if .Values.prometheus.serviceMonitor.interval }}
      interval: {{ .Values.prometheus.serviceMonitor.interval }}
      {{- end }}
      path: "/metrics"
      {{- if .Values.prometheus.serviceMonitor.metricRelabelings }}
      metricRelabelings:
        {{- toYaml .Values.prometheus.serviceMonitor.metricRelabelings | nindent 6 }}
      {{- end }}
      {{- if .Values.prometheus.serviceMonitor.relabelings }}
      relabelings:
        {{- toYaml .Values.prometheus.serviceMonitor.relabelings | nindent 6 }}
      {{- end }}
{{- end }}
