# Adfinis Helm Charts
{{- $readme := (ds "readme") -}}
{{- define "helmcharts.shortVersion" -}}
  {{/*
    helmcharts.shortVersion template generates human readable generalized version strings.

    Given the input "0.1.2" is will generate "0.x", given "1.2.3" it will generate "1.2.x" and to on.
  */}}
  {{- $version := . | conv.ToString | strings.TrimPrefix "v" -}}
  {{- if eq $version "latest" -}}
    {{/* ignore latest version when shortening */}}
    {{- $version -}}
  {{- else -}}
    {{/* output important part of version and trailing .x */}}
    {{- $targetParts := 1 -}}
    {{- if not ($version | strings.HasPrefix "0") -}}
      {{/* handle production version (ie. not starting with 0) */}}
      {{- $targetParts = 2 -}}
    {{- end -}}
    {{- $shortLen := add ($version | strings.SplitN "." $targetParts | len) (sub $targetParts 1) | conv.ToInt -}}
    {{- strings.Trunc $shortLen $version }}.x
  {{- end -}}
{{- end }}

[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/adfinis)](https://artifacthub.io/packages/search?repo=adfinis)
![Release Charts](https://github.com/adfinis/helm-charts/workflows/Release%20Charts/badge.svg)
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)](https://github.com/pre-commit/pre-commit)

![Lunkwill wearing a Helm shirt](docs/images/lunkwill_helm_shirt.png)

This repository contains [Helm](https://helm.sh/) charts managed by [Adfinis](https://adfinis.com/?pk_campaign=github&pk_kwd=helm-charts).

## Usage

### Install the Helm chart repository

```bash
helm repo add adfinis https://charts.adfinis.com
```

To make the charts available in the OpenShift console:

```bash
oc apply -f https://charts.adfinis.com/adfinis-charts-repo.yaml
```

### Available Helm charts

{{- range (file.ReadDir "charts/" | sort) -}}
{{- $chartManifestPath := print "charts/" . "/Chart.yaml" -}}
{{- if (file.Exists $chartManifestPath) -}}{{- $chartManifest := file.Read $chartManifestPath | data.YAML -}}
{{- if and (has $chartManifest "icon") (not (hasSuffix $chartManifest.name "-apps")) (not (has $chartManifest "deprecated")) }}
#### [{{.}}]({{ print $readme.chartBaseURL . }}) chart

![Version: {{ template "helmcharts.shortVersion" $chartManifest.version }}](https://img.shields.io/badge/version-{{ template "helmcharts.shortVersion" $chartManifest.version }}-brightgreen){{ if has $chartManifest "appVersion" }} ![App version: {{ template "helmcharts.shortVersion" $chartManifest.appVersion }}](https://img.shields.io/badge/app%20version-{{ template "helmcharts.shortVersion" $chartManifest.appVersion }}-brightgreen){{ end }}

{{ $chartManifest.description }}

[<img alt="{{.}}" src="{{ $chartManifest.icon }}" width="128">]({{ print $readme.chartBaseURL . }})
{{- end -}}
{{- end -}}
{{- end }}

#### Argo CD app-of-apps charts

Our [Argo CD](https://argoproj.github.io/cd/) app-of-apps Helm charts all implement the [Argo CD app-of-apps pattern](https://argo-cd.readthedocs.io/en/stable/operator-manual/cluster-bootstrapping/#app-of-apps-pattern).
The charts deploy Argo CD Application resources and enable configuring multiple related or "work well together" apps.
To do this they combine Helm repository URLs with chart names and "tested" versions of the charts. In most cases some
examples of how to configure individual apps are also provided. Please reference [our app-of-apps documentation](./docs/argocd-app-of-apps.md)
for more in-depth information.

| Chart | Description | Version |
| ----- | ----------- | ------- |
{{- range (file.ReadDir "charts/" | sort) -}}
{{- $chartManifestPath := print "charts/" . "/Chart.yaml" -}}
{{- if (file.Exists $chartManifestPath) -}}{{- $chartManifest := file.Read $chartManifestPath | data.YAML -}}
{{- if and (hasSuffix $chartManifest.name "-apps") (not (has $chartManifest "deprecated")) }}
| [{{.}}]({{ print $readme.chartBaseURL . }}) | {{ $chartManifest.description | strings.Abbrev 80 }} | ![Version: {{ template "helmcharts.shortVersion" $chartManifest.version }}](https://img.shields.io/badge/version-{{ template "helmcharts.shortVersion" $chartManifest.version }}-brightgreen) |
{{- end -}}
{{- end -}}
{{- end }}

#### more charts

| Chart | Description | Version | App Version |
| ----- | ----------- | ------- | ----------- |
{{- range (file.ReadDir "charts/" | sort) -}}
{{- $chartManifestPath := print "charts/" . "/Chart.yaml" -}}
{{- if (file.Exists $chartManifestPath) -}}{{- $chartManifest := file.Read $chartManifestPath | data.YAML -}}
{{- if and (not (has $chartManifest "icon")) (not (hasSuffix $chartManifest.name "-apps")) (not (has $chartManifest "deprecated")) }}
| [{{.}}]({{ print $readme.chartBaseURL . }}) | {{ $chartManifest.description | strings.Abbrev 35 }} | ![Version: {{ template "helmcharts.shortVersion" $chartManifest.version }}](https://img.shields.io/badge/version-{{ template "helmcharts.shortVersion" $chartManifest.version }}-brightgreen) | {{ if has $chartManifest "appVersion" }} ![App version: {{ template "helmcharts.shortVersion" $chartManifest.appVersion }}](https://img.shields.io/badge/app%20version-{{ template "helmcharts.shortVersion" $chartManifest.appVersion }}-brightgreen){{ end }} |
{{- end -}}
{{- end -}}
{{- end }}

## Contributing
{{- if not $readme.web.enabled }}
{{/* This content only shows up on the GitHub README and not on charts.adfinis.com */}}

Have a look at the [documentation](./docs/) to get started.

```bash
# clone repo
git clone git@github.com:adfinis/helm-charts.git
cd helm-charts

# initialize pre-commit
pre-commit install
pre-commit install-hooks

# run pre-commit
pre-commit run -a

# update root README
hack/update-readme.sh

# update charts README
hack/helm-docs.sh
```
{{- else }}
{{/* This content replaces the Development section when used as index page */}}

This Helm chart repositories code may be found on [GitHub](https://github.com) at
[adfinis/helm-charts](https://github.com/adfinis/helm-charts).
{{- end }}

We track issues with this chart repository in the [issue tracker](https://github.com/adfinis/helm-charts/issues).

We expect you to always create an issue prior to creating a new chart. This helps us discuss the merits of it before you put the effort into creating the chart.

## About this repository

Adfinis fights for a software world that is more open, where the quality is
better and where software must be accessible to everyone. This repository
contains part of the action behind this commitment. Feel free to
[contact](https://adfinis.com/en/contact/?pk_campaign=github&pk_kwd=helm-charts)
us if you have any questions.

## License

This Helm chart collection is free software: you can redistribute it and/or modify it under the terms
of the GNU Affero General Public License as published by the Free Software Foundation,
version 3 of the License.
