apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.252.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: fixed
      description: |
        fix: update Argo CD from 3.1.8 to 3.2.1

        - Bump argo-cd to v3.2.1
        - Bump redis_exporter to v1.80.1
        - Add documentation about breaking changes when upgrading to 9.1.0 for redis-ha dependency
        - Add serviceAnnotations support for AWS ALB gRPC service
        - Remove server.rbac.log.enforce.enable flag in configs.cm
        - Add backendRefs group and kind to HTTPRoute (prevents OutOfSync issue)
        - Add checksum to ArgoCD notifications
        - Add context to Changelog in README for v9.0.0
        - Remove default values from config.params (See detail of breaking change in README).
        - Add extraArgs to redisSecretInit Job
        - Add runtimeClassName to redisSecretInit
        - Add AKS Web Application Routing ingress example
        - Add Gateway API support (HTTPRoute, GRPCRoute, BackendTLSPolicy) - EXPERIMENTAL
      links:
        - name: Argo CD 3.2 announcement
          url: https://blog.argoproj.io/argo-cd-v3-2-release-candidate-4c939b63d9c4
        - name: ARgo CD 3.1 to 3.2 Upgrade Notes
          url: https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/3.1-3.2/
