apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.255.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        fix: update ingress-nginx to 4.14.1

        - Update NGINX controller to 1.14.1
        - Added support for PROXY protocol v2 in SSL Proxy
        - Fixes for rate-limiting zone sorting
      links:
        - name: ingress nginx changelog
          url: https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx?modal=changelog
        - name: helm-chart-4.14.1
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.14.1
        - name: helm-chart-4.13.5
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.13.5
        - name: helm-chart-4.14.0
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.14.0
        - name: helm-chart-4.13.4
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.13.4
        - name: helm-chart-4.13.3
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.13.3
        - name: helm-chart-4.13.2
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.13.2
