apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.261.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        feat: Update rbac-manager from 1.9.2 to 1.9.5

        * Update Helm chart from 1.21.1 to 1.21.5
        * Update error logging in app
        * Update dependencies for security (e.g. golang version, ...)
      links:
        - name: rbac-manager 1.9.5
          url: https://github.com/FairwindsOps/rbac-manager/releases/tag/v1.9.5
        - name: rbac-manager 1.9.4
          url: https://github.com/FairwindsOps/rbac-manager/releases/tag/v1.9.4
        - name: rbac-manager 1.9.3
          url: https://github.com/FairwindsOps/rbac-manager/releases/tag/v1.9.3
