apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.131.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.0
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: added
      description: "[kube-prometheus-stack] Add local and global image registry support"
      links:
        - name: GitHub PR
          url: https://github.com/prometheus-community/helm-charts/pull/2692
    - kind: changed
      description: "[kube-prometheus-stack] Fix PSP deprecation after k8s 1.25+"
      links:
        - name: GitHub PR
          url: https://github.com/prometheus-community/helm-charts/pull/2691
    - kind: added
      description: "[kube-prometheus-stack] : enable hostNetwork support for Prometheus CR Object"
      links:
        - name: GitHub PR
          url: https://github.com/prometheus-community/helm-charts/pull/2693
    - kind: added
      description: "[kube-prometheus-stack] add support for additional labels on operator ServiceMonitor"
      links:
        - name: GitHub PR
          url: https://github.com/prometheus-community/helm-charts/pull/2687
