apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.260.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        Update velero from 11.2.0 to 11.3.2
        - fix: also conditionally include volume mounts for nodeagent
        - fix: Add method to disable host path in Helm Chart

      links:
        - name: Velero 11.3.2 Release notes
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-11.3.2
        - name: Velero 11.3.1 Release notes
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-11.3.1
