apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.254.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: fixed
      description: |
        fix: update velero to 11.2.0

        - updated velero to v1.17.1
        - Fix VeleroNoNewBackup alert using timestamp age instead of rate()
        - make Pod/ServiceMonitor interval/scrapeTimeout optional
        - correct initContainer value json schema
        - Move to bitnamilegacy
      links:
        - name: Velero v1.17.1 Release
          url: https://github.com/vmware-tanzu/velero/releases
        - name: velero-11.2.0 Chart
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-11.2.0
        - name: velero-11.1.1 Chart
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-11.1.1
        - name: velero-11.1.0 Chart
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-11.1.0
        - name: velero-11.0.0 Chart
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-11.0.0
        - name: velero-10.1.3 Chart
          url: https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-10.1.3
