apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.230.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: "fix: Update nginx-ingress from 1.11.2 to 1.12.1"
      links:
        - name: "CVE-2025-1974: critical CVE vuln"
          url: https://kubernetes.io/blog/2025/03/24/ingress-nginx-cve-2025-1974/
        - name: "helm chart: 4.12.1"
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.12.1
        - name: "ingress-nginx controller: 1.12.1"
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.12.1
        - name: "helm chart: 1.12.0"
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.12.0
        - name: "ingress-nginx controller: 1.12.0"
          url: https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.12.0
