apiVersion: v2
name: infra-apps
description: Argo CD app-of-apps config for infrastructure components
type: application
version: 0.214.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/infra-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: "fix: Update ARgo CD from 2.11.3 to 2.11.4"
      links:
        - name: "Release Notes"
          url: https://github.com/argoproj/argo-cd/releases/tag/v2.11.4
    - kind: changed
      description: "chore: Update Argo CD chart from 7.2.0 to 7.3.5"
      links:
        - name: "fix: Default repo-server init container resources to empty"
          url: https://github.com/argoproj/argo-helm/pull/2786
        - name: "feat: make PrometheusRule deployment conditional on CRD existing"
          url: https://github.com/argoproj/argo-helm/pull/2791
        - name: "chore: add shard option for clusterCredentials"
          url: https://github.com/argoproj/argo-helm/pull/2779
        - name: "feat: add support for passing redis - sentinel credentials"
          url: https://github.com/argoproj/argo-helm/pull/2492
        - name: "fix: Make REDIS_PASSWORD environment variables optional always"
          url: https://github.com/argoproj/argo-helm/pull/2800
        - name: "fix: Address oversights of feature namespaceOverride"
          url: https://github.com/argoproj/argo-helm/pull/2821
