{{- if .Values.keycloak.enabled }}
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: {{ default (include "keycloak-operator.fullname" .) .Values.keycloak.name }}
  labels:
    {{- include "keycloak-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: keycloak
spec:
  {{- with .Values.keycloak.additionalOptions }}
  additionalOptions: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.bootstrapAdmin }}
  bootstrapAdmin: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.cache }}
  cache: {{- . | toYaml | nindent 4 }}
  {{- end }}
  {{- if or .Values.keycloak.db.url (and .Values.keycloak.db.host .Values.keycloak.db.port .Values.keycloak.db.database ) }}
  db:
    {{- with .Values.keycloak.db.database }}
    database: {{ . | quote }}
    {{- end }}
    {{- with .Values.keycloak.db.host }}
    host: {{ . | quote }}
    {{- end }}
    {{- with .Values.keycloak.db.passwordSecret }}
    passwordSecret: {{ . | toYaml | nindent 6 }}
    {{- end }}
    {{- with .Values.keycloak.db.poolInitialSize }}
    poolInitialSize: {{ . }}
    {{- end }}
    {{- with .Values.keycloak.db.poolMaxSize }}
    poolMaxSize: {{ . }}
    {{- end }}
    {{- with .Values.keycloak.db.poolMinSize }}
    poolMinSize: {{ . }}
    {{- end }}
    {{- with .Values.keycloak.db.port }}
    port: {{ . }}
    {{- end }}
    {{- with .Values.keycloak.db.schema }}
    schema: {{ . | quote }}
    {{- end }}
    {{- with .Values.keycloak.db.url }}
    url: {{ . | quote }}
    {{- end }}
    {{- with .Values.keycloak.db.usernameSecret }}
    usernameSecret: {{ . | toYaml | nindent 6 }}
    {{- end }}
    {{- with .Values.keycloak.db.vendor }}
    vendor: {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- if or .Values.keycloak.features.disabled .Values.keycloak.features.enabled }}
  features:
    {{- with .Values.keycloak.features.disabled }}
    disabled: {{ . | toYaml | nindent 6 }}
    {{- end }}
    {{- with .Values.keycloak.features.enabled }}
    enabled: {{ . | toYaml | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- with .Values.keycloak.hostname }}
  hostname:
    {{- with .admin }}
    admin: {{ . }}
    {{- end }}
    {{- with .adminUrl }}
    adminUrl:  {{ . }}
    {{- end }}
    {{- if not (eq .backchannelDynamic nil) }}
    backchannelDynamic: {{ .backchannelDynamic  }}
    {{- end }}
    {{- with .hostname }}
    hostname: {{ . | quote }}
    {{- end }}
    {{- if not (.strict | toString | empty ) }}
    strict: {{ ternary "true" "false" .strict }}
    {{- end }}
  {{- end }}
  http:
    {{- with .Values.keycloak.http.annotations }}
    annotations: {{ . | toYaml | nindent 6 }}
    {{- end }}
    {{- with .Values.keycloak.http.httpEnabled }}
    httpEnabled: {{ ternary "true" "false" . }}
    {{- end }}
    {{- with .Values.keycloak.http.httpPort }}
    httpPort: {{ . }}
    {{- end }}
    {{- with .Values.keycloak.http.httpsPort }}
    httpsPort: {{ . }}
    {{- end }}
    {{- with .Values.keycloak.http.labels }}
    labels: {{ . | toYaml | nindent 6 }}
    {{- end }}
    {{- with .Values.keycloak.http.tlsSecret }}
    tlsSecret: {{ . | quote }}
    {{- end }}
  {{- with .Values.keycloak.httpManagement.port }}
  httpManagement:
    port: {{ . }}
  {{- end }}
  {{- if or .Values.keycloak.image.repository .Values.keycloak.image.tag }}
  image: "{{ .Values.keycloak.image.repository | default .Values.operator.config.keycloakImage.repository }}:{{ .Values.keycloak.image.tag | default .Values.operator.config.keycloakImage.tag | default .Chart.AppVersion }}"
  {{- end }}
  {{- with .Values.keycloak.imagePullSecrets }}
  imagePullSecrets: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- if .Values.keycloak.ingress.enabled }}
  ingress:
    enabled: true
    {{- with .Values.keycloak.ingress.annotations }}
    annotations:
      {{ . | nindent 6 }}
    {{- end }}
    {{- with .Values.keycloak.ingress.className }}
    className: {{ . | quote }}
    {{- end }}
  {{- else }}
  ingress:
    enabled: false
  {{- end }}
  {{- with .Values.keycloak.instances }}
  instances: {{ . }}
  {{- end }}
  {{- with .Values.keycloak.livenessProbe }}
  livenessProbe:
    {{- with .failureThreshold }}
    failureThreshold: {{ . }}
    {{- end }}
    {{- with .periodSeconds }}
    periodSeconds: {{ . }}
    {{- end }}
  {{- end }}
  {{- with .Values.keycloak.networkPolicy }}
  networkPolicy: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.proxy.headers }}
  proxy:
    headers: {{ . }}
  {{- end }}
  {{- with .Values.keycloak.readinessProbe }}
  readinessProbe:
    {{- with .failureThreshold }}
    failureThreshold: {{ . }}
    {{- end }}
    {{- with .periodSeconds }}
    periodSeconds: {{ . }}
    {{- end }}
  {{- end }}
  {{- with .Values.keycloak.resources }}
  resources: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.scheduling }}
  scheduling: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.startOptimized }}
  startOptimized: {{ ternary "true" "false" . }}
  {{- end }}
  {{- with .Values.keycloak.tracing }}
  tracing: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.startupProbe }}
  startupProbe:
    {{- with .failureThreshold }}
    failureThreshold: {{ . }}
    {{- end }}
    {{- with .periodSeconds }}
    periodSeconds: {{ . }}
    {{- end }}
  {{- end }}
  {{- with .Values.keycloak.transaction.xaEnabled }}
  transaction:
    xaEnabled: {{ ternary "true" "false" . }}
  {{- end }}
  {{- with .Values.keycloak.truststrores }}
  truststores: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.unsupported }}
  unsupported: {{ . | toYaml | nindent 4 }}
  {{- end }}
  {{- with .Values.keycloak.update }}
  update: {{ . | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
