apiVersion: v2
name: tracing-apps
description: Argo CD app-of-apps config for tracing applications
type: application
version: 1.1.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/tracing-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: |
        chore: Updating opentelemetry-collector Chart form 0.134.0 to 0.140.0


      links:
        - name: "Release of opentelemetry-collector-0.134.1"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.134.1
        - name: "opentelemetry-collector-0.135.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.135.0
        - name: "opentelemetry-collector-0.136.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.136.0
        - name: "opentelemetry-collector-0.136.1"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.136.1
        - name: "opentelemetry-collector-0.137.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.137.0
        - name: "opentelemetry-collector-0.138.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.138.0
        - name: "opentelemetry-collector-0.138.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.138.0
        - name: "opentelemetry-collector-0.138.1"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.138.1
        - name: "opentelemetry-collector-0.139.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.139.0
        - name: "opentelemetry-collector-0.140.0"
          url: https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.140.0
