apiVersion: v2
name: logging-apps
description: Argo CD app-of-apps config for logging applications
type: application
version: 0.44.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/logging-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        Updating loki Chart from 6.46.0 to 6.49.0
        * Chart dependencies and templating logic updated for newer versions of Kubernetes API
        * Values for Loki object store bucket naming adjusted (additional required fields surfaced)
      links:
        - name: Grafana Loki Helm chart CHANGELOG
          url: https://github.com/grafana/loki/blob/main/production/helm/loki/CHANGELOG.md
