apiVersion: v2
name: logging-apps
description: Argo CD app-of-apps config for logging applications
type: application
version: 0.32.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/logging-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Update fluentBit chart from 0.39.0 to 0.46.7"
      links:
        - name: "fluentBit Release 0.46.7"
          url: https://github.com/fluent/helm-charts/releases/tag/fluent-bit-0.46.7
