apiVersion: v2
name: logging-apps
description: Argo CD app-of-apps config for logging applications
type: application
version: 0.43.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/logging-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        Updating loki Chart form 6.41.1 to 6.46.0
        * nameOverride is now templated, and topologySpreadConstraints are configurable for single binary
        * Removed storageClass field from compactor persistence (move it to claims)
        * MinIO is deprecated as an object store and will be removed in the future
        * The experimental Loki UI was removed (moved to the loki-operational-ui plugin)
        * Added support for auto-resizing volumes by recreating the StatefulSet
      links:
        - name: Grafan loki changelog
          url: https://github.com/grafana/loki/blob/main/production/helm/loki/CHANGELOG.md
