apiVersion: v2
name: logging-apps
description: Argo CD app-of-apps config for logging applications
type: application
version: 0.20.3
home: https://github.com/adfinis/helm-charts/tree/main/charts/logging-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.7.6
    repository: https://charts.adfinis.com
