apiVersion: v2
name: logging-apps
description: Argo CD app-of-apps config for logging applications
type: application
version: 0.42.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/logging-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        Updating promtail Chart form 6.16.5 to 6.17.1
        * Mark promtail chart as deprecated
        * update appVersion to 3.5.1
        * allow to inject templates
      links:
        - name: promtail-6.16.6 Relese Notes
          url: https://github.com/grafana/helm-charts/releases/tag/promtail-6.16.6
        - name: promtail-6.17.0 Release notes
          url: https://github.com/grafana/helm-charts/releases/tag/promtail-6.17.0
        - name: promtail-6.17.1 Release notes
          url: https://github.com/grafana/helm-charts/releases/tag/promtail-6.17.1
