# Default values for osschallenge.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
osschallenge:
  # -- (int) Number of OSS-Challenge replicas
  replicaCount: 1
  image:
    # -- OSS-Challenge image name
    repository: adfinissygroup/oss-challenge
    # -- Specify a tag to override which version of osschallenge to deploy.
    # @default -- appVersion from Chart.yaml
    tag: ~
    # -- OSS-Challenge image pull policy
    pullPolicy: IfNotPresent
    # -- Timeout for wait-for-it.sh
    waitForItTimeout: 60
  service:
    # Specifiy secret for authentication.
    # If not random token will be generated
    # secret:
    # -- OSS-Challenge service name
    name: osschallenge
    # -- OSS-Challenge service type
    type: ClusterIP
    # -- External Port of osschallenge service
    externalPort: 8000
    # -- Internal Port of osschallenge service
    internalPort: 8000
  # -- Resource limits for osschallenge
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  livenessProbe:
    # -- Enable liveness probe on osschallenge
    enabled: true
    # -- Number of seconds after the container has started before liveness probe is initiated
    initialDelaySeconds: 60
    # -- How often (in seconds) to perform the probe
    periodSeconds: 10
    # -- Number of seconds after which the probe times out
    timeoutSeconds: 5
    # -- Number of tries to perform the probe
    failureThreshold: 6
    # -- Minimum consecutive successes for the probe to be considered successful after having failed
    successThreshold: 1
  readinessProbe:
    # -- Enable readiness probe on osschallenge
    enabled: true
    # -- Number of seconds after the container has started before readiness probe is initiated
    initialDelaySeconds: 30
    # -- How often (in seconds) to perform the probe
    periodSeconds: 10
    # -- Number of seconds after which the probe times out
    timeoutSeconds: 5
    # -- Number of tries to perform the probe
    failureThreshold: 6
    # -- Minimum consecutive successes for the probe to be considered successful after having failed
    successThreshold: 1
  settings:
    # django settings for osschallenge
    # -- Connection string of SMTP server to send mails
    emailHost: smtp.example.com
    # -- Port for the SMTP server
    emailPort: 587
    # -- Default email address to use for various responses
    emailFrom: osschallenge@oss-challenge.ch
    # -- Username for the SMTP server
    emailUser: example@example.com
    # -- Password for the SMTP server
    emailPassword: ~
    # -- URL for OSS-Challenge
    siteUrl: https://oss-challenge.ch

ingress:
  # -- Enable ingress for osschallenge
  enabled: false
  # -- Ingress annotations
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # -- Ingress hostnames
  hosts: ["localhost"]
  #  - osschallenge-test.example.com
  # -- Ingress TLS options
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - osschallenge-test.example.com

postgresql:
  # -- Enable PostgreSQL for persistence
  enabled: true
  auth:
    # -- PostgreSQL database name
    database: osschallenge
    # -- PostgreSQL user name
    username: osschallenge
    # -- Set a password for PostgreSQL
    # password: ~

persistence:
  # -- specifies if persistence is enabled or not
  enabled: true
  # -- specifies where to mount the PV
  mountPath: "/data"
  # -- specifies which size the PVC should request
  size: "10Gi"
  # -- specifes the access mode for the PV
  accessModes:
  - ReadWriteOnce
  # -- specifies which storageClassName should be used
  storageClassName: ""
