apiVersion: v2
name: misc-apps
description: Argo CD app-of-apps config for miscellaneous small tools
type: application
version: 0.26.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/misc-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.0
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: added
      description: "Implement support for multiple Icinga2 Master API URLs"
      links:
        - name: GitHub PR
          url: https://github.com/vshn/signalilo/pull/114
    - kind: changed
      description: "Update module github.com/sirupsen/logrus to v1.9.0"
      links:
        - name: GitHub PR
          url: https://github.com/vshn/signalilo/pull/109
    - kind: changed
      description: "[signalilo] Update module github.com/stretchr/testify to v1.8.0"
      links:
        - name: GitHub PR
          url: https://github.com/vshn/signalilo/pull/112
    - kind: changed
      description: "[signalilo] Update golang docker tag to v1.19"
      links:
        - name: GitHub PR
          url: https://github.com/vshn/signalilo/pull/112
