apiVersion: v2
name: misc-apps
description: Argo CD app-of-apps config for miscellaneous small tools
type: application
version: 0.58.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/misc-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        chore: Upgraded Keda chart from 2.17.2 to 2.18.2

        - Bumped Keda to 2.18.2
        - improved the raw metrics stream to send metrics during the ScaledObject's polling interval
        - Added a flag KEDA_CHECK_UNEXPECTED_SCALERS_PARAMS to allow checking for unexpected scaler parameters
        - added option to disable the creation of legacy Docker service links
        - fixed service account token bug.

      links:
        - name: v2.18.0 release notes
          url: https://github.com/kedacore/keda/releases/tag/v2.18.0
        - name: v2.18.1 release notes
          url: https://github.com/kedacore/keda/releases/tag/v2.18.1
        - name: v2.18.0 release notes
          url: https://github.com/kedacore/keda/releases/tag/v2.18.0
