apiVersion: v2
name: misc-apps
description: Argo CD app-of-apps config for miscellaneous small tools
type: application
version: 0.61.1
home: https://github.com/adfinis/helm-charts/tree/main/charts/misc-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        Update argocdApps from 2.0.3 to 2.0.4
        - Bump targetRevision from 2.0.3 to 2.0.4
