---
apiVersion: v2
name: hedgedoc
description: Chart for HedgeDoc, a fork of CodiMD
type: application
version: 0.3.1
appVersion: "1.9.9"
icon: https://raw.githubusercontent.com/hedgedoc/hedgedoc-logo/main/LOGOTYPE/PNG/HedgeDoc-Logo%201.png
sources:
  - https://github.com/hedgedoc/hedgedoc
maintainers:
  - name: adfinis
    email: "support@adfinis.com"
    url: "https://adfinis.com"
dependencies:
  - name: postgresql
    version: ~12.2.1
    condition: postgresql.enabled
    repository: https://charts.bitnami.com/bitnami
annotations:
  artifacthub.io/images: |
    - name: hedgedoc
      image: quay.io/hedgedoc/hedgedoc:1.9.8
  artifacthub.io/changes: |
    - kind: security
      description: "Update to HedgeDoc 1.9.9, see [GitHub](https://github.com/hedgedoc/hedgedoc/releases/tag/1.9.9) for the release notes."
