apiVersion: v2
name: backup-apps
description: Argo CD app-of-apps config for backup components
type: application
version: 0.6.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/backup-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "feat: Mark back8sup as DEPRECATED"
