apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openshift-etcd-backup.fullname" . }}
  labels:
    {{- include "openshift-etcd-backup.labels" . | nindent 4 }}
data:
  OCP_BACKUP_SUBDIR: {{ .Values.backup.subdir | quote }}
  OCP_BACKUP_DIRNAME: {{ .Values.backup.dirname | quote }}
  OCP_BACKUP_EXPIRE_TYPE: {{ .Values.backup.expiretype | quote }}
  OCP_BACKUP_KEEP_DAYS: {{ .Values.backup.keepdays | quote }}
  OCP_BACKUP_KEEP_COUNT: {{ .Values.backup.keepcount | quote }}
