{{- if and .Values.monitoring.enabled .Values.monitoring.rules.cronjobMonitor (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "openshift-etcd-backup.fullname" . }}-cronjob-monitor
spec:
  groups:
  - name: cronjob-monitor
    rules:
    - alert: EtcdBackupCronJobStatusFailed
      expr: |
        kube_job_status_succeeded{namespace="{{ .Release.Namespace }}"} == 0
      labels:
        severity: critical
{{- end }}
