 {{- if and (.Values.persistence.s3.enabled) (not .Values.persistence.s3.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "openshift-etcd-backup.labels" . | nindent 4 }}
  name: {{ include "openshift-etcd-backup.fullname"  . }}-secret
data:
  OCP_BACKUP_S3_NAME: "{{ .Values.persistence.s3.name | b64enc }}"
  OCP_BACKUP_S3_HOST: "{{ .Values.persistence.s3.host | b64enc }}"
  OCP_BACKUP_S3_ACCESS_KEY: "{{ .Values.persistence.s3.accessKey | b64enc }}"
  OCP_BACKUP_S3_SECRET_KEY: "{{ .Values.persistence.s3.secretKey | b64enc }}"
type: Opaque
{{- end }}
