# Deploy nginx-ingress with a customer default page
#
# This nxing-ingress example shows how you can specify a custom default
# backend. Also marks the ingress as the default so
# it may be used without explicitly specifying it.

ingressNginx:
  enabled: true
  values:
    defaultBackend:
      enabled: true
      image:
        repository: gcr.io/google-containers/defaultbackend
        tag: "1.4"
    ingressClassResource:
      default: true
