# Deploy Thanos
#
# This takes care of deploying Thanos' store gateway, query frontend, and receiver. 
# Usually the prometheus-operator from kube-prometheus-stack will deploy 
# ThanosRulers and sidecars to complete the stack.

thanos:
  enabled: true
  values:
    objstoreConfig:
      # configure minio client lib for S3 and other S3 compatible endpoints
      type: S3
      config:
        region: ""
        bucket: ""
        endpoint: ""
        access_key: ""
        secret_key: ""
    # on production, use a secret to not leak S3 credentials
    # existingObjstoreSecret: thanos-objstore-secret
    storegateway:
      enabled: true
    queryFrontend:
      ingress:
        enabled: true
        hostname: thanos.example.com
    receive:
      enabled: true
    # for demo purposes you can use the minio subchart:
    minio:
      enabled: false
