apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "kubernetes-etcd-backup.fullname" . }}
spec:
  startingDeadlineSeconds: 600
  schedule: {{ .Values.backup.schedule | quote }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      # Retrying this job is not considered safe, because of that we fail the
      # job immediately if the first execution fails.
      backoffLimit: 0
      template:
        spec:
          securityContext:
              runAsUser: 1000
              fsGroup: 1000
          containers:
          - command:
            - /bin/sh
            - /usr/local/bin/backup.sh
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            name: {{ .Chart.Name }}
            envFrom:
            - configMapRef:
                name: {{ include "kubernetes-etcd-backup.fullname" . }}
            {{- if .Values.persistence.s3.enabled }}
            - secretRef:
              {{- if .Values.persistence.s3.existingSecret }}
                name: "{{ .Values.persistence.s3.existingSecret }}"
              {{- else }}
                name: {{ include "kubernetes-etcd-backup.fullname" . }}-secret
              {{- end }}
            {{- end }}
            resources:
              {{- toYaml .Values.resources | nindent 14 }}
            volumeMounts:
            - name: etcd-peer-tls
              mountPath: /etc/kubernetes/pki/etcd-peer
            - name: etcd-server-ca
              mountPath: /etc/kubernetes/pki/etcd-ca
            - name: volume-backup
              mountPath: /backup
            {{- if .Values.extraVolumeMounts }}
              {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
          restartPolicy: Never
          volumes:
          - name: etcd-peer-tls
            secret:
              secretName: {{ .Values.etcdCertification.etcdPeerTlsName }}
          - name: etcd-server-ca
            secret:
              secretName: {{ .Values.etcdCertification.etcdServerCaName }}
          - name: volume-backup
            {{- if .Values.persistence.nfs.enabled }}
            nfs:
              server: {{ .Values.persistence.nfs.server | quote }}
              path: {{ .Values.persistence.nfs.path | quote }}
            {{- else if .Values.persistence.provisioning.enabled }}
            persistentVolumeClaim:
              claimName: {{ include "kubernetes-etcd-backup.fullname" . }}
            {{- else if .Values.persistence.existingClaim }}
            persistentVolumeClaim:
              claimName: {{ .Values.persistence.existingClaim }}
            {{- else }}
            emptyDir: {}
            {{- end }}
          {{- if .Values.extraVolumes }}
            {{- toYaml .Values.extraVolumes | nindent 10 }}
          {{- end }}
          {{ with .Values.affinity }}
            affinity:
              {{ . | toYaml | nindent 14 }}
          {{ end }}
