{{ if .Values.dexK8sAuthenticator.enabled }}
{{ template "argoconfig.application" (list . "security-apps.dexK8sAuthenticator") }}
{{ end }}

{{- define "security-apps.dexK8sAuthenticator" -}}{{- $app := unset .Values.dexK8sAuthenticator "enabled" -}}{{- $name := default $app.destination.namespace $app.name -}}
metadata:
  name: {{ template "common.fullname" . }}-{{ $name }}
spec:
  {{- if $app.project }}
  project: {{ $app.project | quote }}
  {{- end }}
  source:
    repoURL: {{ $app.repoURL | quote }}
    path: {{ $app.repoPath | quote }}
    targetRevision: {{ $app.targetRevision | quote }}
    helm:
      releaseName: {{ $name | quote }}
      valuesObject:
        nameOverride: {{ $name | quote }}
        {{- $app.values | toYaml | nindent 8 }}
  {{- if $app.destination }}
  destination:
    {{ $app.destination | toYaml | nindent 4 }}
  {{- end }}
  {{- if $app.syncPolicy }}
  syncPolicy:
    {{ $app.syncPolicy | toYaml | nindent 4 }}
  {{- end }}
  {{- if $app.ignoreDifferences }}
  ignoreDifferences:
    {{ $app.ignoreDifferences | toYaml | nindent 4 }}
  {{- end }}
{{- end -}}
