apiVersion: v2
name: azure-apps
description: Argo CD app-of-apps config for Azure applications
type: application
version: 0.19.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/azure-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: changed
      description: |
        chore: bump azureKvCsiProvider to 1.7.2
        - Bug fixes and stability improvements
        - Updated dependencies
      links:
        - name: azureKvCsiProvider v1.7.2 Release
          url: https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/v1.7.2
