apiVersion: v1
kind: Secret
metadata:
  name: {{ template "barman.fullname" . }}-pgpass-secret
  labels:
    {{- include "barman.labels" . | nindent 4 }}
type: Opaque
stringData:
  .pgpass: |
    {{- range .Values.barman.backups }}
    {{ .postgresql.host }}:{{ .postgresql.port }}:*:{{ .postgresql.superUser }}:{{ .postgresql.superUserPassword }}
    {{ .postgresql.host }}:{{ .postgresql.port }}:*:{{ .postgresql.replicationUser }}:{{ .postgresql.replicationPassword }}
    {{- end }}
