apiVersion: v2
name: storage-apps
description: Argo CD app-of-apps config for storage applications
type: application
version: 0.16.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/storage-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "update csi-driver-smb to 1.14.0"
      links:
        - name: Github release
          url: https://github.com/kubernetes-csi/csi-driver-smb/releases/tag/v1.14.0
