apiVersion: v2
name: storage-apps
description: Argo CD app-of-apps config for storage applications
type: application
version: 0.5.1
home: https://github.com/adfinis-sygroup/helm-charts/tree/master/charts/storage-apps
sources:
  - https://github.com/adfinis-sygroup/helm-charts
maintainers:
  - name: adfinis-sygroup
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.7.4
    repository: https://charts.adfinis.com
