name: Lint and Test Charts

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.14.0

    - name: install helm unittest
      run: |
        helm env
        helm plugin install https://github.com/helm-unittest/helm-unittest

    - uses: actions/setup-python@v6
      with:
        python-version:  '3.x'

    - name: Setup environment for pre-commit
      run: hack/ci/github/setup/pre-commit.sh

    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}

    - name: Run pre-commit
      run: |
        pre-commit run --show-diff-on-failure --color=always --files $(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | xargs)

  lint-test:
    name: Lint and Install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: install helm unittest
        run: |
          helm env
          helm plugin install https://github.com/helm-unittest/helm-unittest

      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Install Artifact Hub CLI tool
        run: hack/sh/deps/ah.sh

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct --config=hack/chart-testing/ct.yaml list-changed)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct --config=hack/chart-testing/ct.yaml lint

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Setup cluster for chart-testing (install)
        run: hack/deploy/init.sh
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct --config=hack/chart-testing/ct-install.yaml install
