apiVersion: v2
name: argo-apps
description: Argo CD app-of-apps config for various argo project components
type: application
version: 0.28.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/argo-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.9.1
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: |
        Update Argo Rollouts from 2.40.3 to 2.40.5
        * Updated dependencies
        * feat: allow argo rollout controller service monitor to use tlsconfig
      links:
        - name: argo-rollouts-2.40.5 Relese Notes
          url: https://github.com/argoproj/argo-helm/releases/tag/argo-rollouts-2.40.5
        - name: argo-rollouts-2.40.4 Release notes
          url: https://github.com/argoproj/argo-helm/releases/tag/argo-rollouts-2.40.4
