apiVersion: v2
name: argo-apps
description: Argo CD app-of-apps config for various argo project components
type: application
version: 0.16.0
home: https://github.com/adfinis/helm-charts/tree/main/charts/argo-apps
sources:
  - https://github.com/adfinis/helm-charts
maintainers:
  - name: adfinis
    email: support@adfinis.com
    url: https://adfinis.com
dependencies:
  - name: argoconfig
    version: 0.8.0
    repository: https://charts.adfinis.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "argo-rollouts: Upgrade argo-rollouts 1.4.0 to 1.4.1"
      links:
        - name: GitHub PR
          url: https://github.com/argoproj/argo-helm/pull/1877
        - name: Releasenotes
          url: https://github.com/argoproj/argo-rollouts/releases/tag/v1.4.1